<%- include("partials/header") %>
<div class="About-me">
  <div class="">
    <h4>About</h4>
    <h3>Learn More About Me</h3>
  </div>
  <div class="row describe animated bounceInUp">
    <div class="col-lg-4">
      <!-- Card Narrower -->
      <div class="card card-cascade narrower">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top hoverable me" src="../img/me.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

          <h5 class="pink-text pb-2 pt-1">Who is this Guy?</h5>
          <p class="card-text">Hello, there.. I'm Deepak Joshi currently in 7th semester. I'm doing my B.tech from Graphic Era University. I Love to learn New Technologies,
            do Programming and Making Websites, apart from these I like Travelling specially in hilly areas.</p>

        </div>

      </div>

    </div>
    <div class="col-lg about-me">
      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="../img/designer.png" style="height:300px;" alt="Card image cap">
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h4 class="card-title"><strong>Full Stack Web &amp; Software Developer</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
          <!-- Text -->
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis
            voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
            laborum ut beatae ullam suscipit veniam.
          </p>

        </div>

      </div>

    </div>
  </div>


  <div class="skills">

    <div>
      <h2>Skills</h2>
    </div>


<div class="card" style="padding:20px;">
    <div class="row">
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">HTML <i class="val">90%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">CSS <i class="val">80%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">JavaScript <i class="val">65%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">MONGODB <i class="val">50%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">C++ <i class="val">80%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">Java <i class="val">60%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">Python <i class="val">60%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">SQL<i class="val">60%</i></span>
          <div class="progress-bar animated slideInLeft delay-2s" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="interests">

    <div>
      <h2>Interests</h2>
    </div>


  </div><!-- End About Me -->


  <%- include("partials/footer") -%>
