<%- include("partials/header") %>


  <header id="header" class="header-tops">
    <div class="container">
      <h2>Hi, I'm </h2>
      <h1>Deepak Joshi</h1>
      <h2>a passionate <span>Full Stack Web and Software Developer</span> from Pithoragarh.</h2>



      <div class="social-links">
        <a href="https://www.linkedin.com/in/deepak-joshi-b3114017b/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100007535351117" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/dhru_vie/" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/dhruvie" class="google-plus"><i class="fab fa-github"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<%- include("partials/footer") -%>
