<%- include("partials/header") %>

<section id="resume" class="resume card">
  <div>

    <div>
      <h2>Resume</h2>
      <h4>Check My Resume</h4>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Deepak Joshi</h4>
          <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
          <p>
          <ul>
            <li>Jagdamba Colony Near Stadium, Pithoragarh</li>
            <li>+91-9690594679</li>
            <li>deep.joshi1019@gmail.com</li>
          </ul>
          </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>10th</h4>
          <h5>2013 - 2014</h5>
          <p><em>Army Public School, Pithoragarh</em></p>
        </div>
        <div class="resume-item">
          <h4>12th</h4>
          <h5>2015 - 2016</h5>
          <p><em>Army Public School, Pithoragarh</em></p>
        </div>
        <div class="resume-item">
          <h4>Bachelor of Technology</h4>
          <h5>2017 - 2021</h5>
          <p><em>Graphic Era University, Dehradun</em></p>
          <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Projects Undertaken</h3>
        <div class="resume-item">
          <h4>RSA Algorithm</h4>
          <h5>June 2020- July 2020</h5>
          <p><em>Image Encryption Using RSA Algorithm</em></p
          <p>
          <ul>
            <li>Encryption and Decryption of Image using Two keys, Public and Private Key in Python.</li>
            <li>Learnt about Cryptosystem, Primality Test(Fermat Little, Miller Rabin).</li>
            <p>For Further Refrence see:-</p>
            <li><a href="https://github.com/dhruvie/RSA">Project Link</a></li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>8085 Simulator</h4>
          <h5>July - Present(Ongoing)</h5>
          <p><em>A 8085 Simulator which will perform 8085 Microprocessor operations</em></p>
          <p>
          <ul>
            <li>Project is Ongoing...</li>
          </ul>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Projects Undertaken</h3>
        <div class="resume-item">
          <h4>Bank Application</h4>
          <h5>Novemeber 2018- December 2018</h5>
          <p><em>A Simple Bank Application which can peform basic tasks:-</em></p>
          <p>
          <ul>
            <li>Made Using C++ and OOPS Concepts.</li>
            <li>User can Deposit and WithDraw Money in Our Bank Account.</li>
            <li>User can Transfer money to other account by knowing the account Number of the other account.</li>
            <p>For Further Refrence see :</p>
            <li><a href="https://github.com/dhruvie/Bank-Application">Project Link</a></li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>CS-IT Website</h4>
          <h5>Novemebr 2019 - December 2019</h5>
          <p><em></em></p>
          <p>
          <ul>
            <li>A Dynamic College CS-IT Website which is made using HTML,CSS, Bootstrap,and for backend Javascript(Node.js),MongoDB is used. </li>
            <p>For Further Refrence see:</p>
            <li><a href="https://github.com/dhruvie/CSIT-GEU">Project Link</a></li>
            <li><a href="https://immense-taiga-63916.herokuapp.com/">Website Link</a></li>
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<%- include("partials/footer") -%>
