body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #252a34 url("../img/bg.png") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}
#navi a{
  color: #000;
}
#navi a:hover{
  color: #a2d5f2
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  color:#00adb5;
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a, #header h1 a:hover {
  color: #222831;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #222831
}

#header h2 span {
  color: #222831;
  border-bottom: 2px solid #ffc7c7;
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

.social-links a{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #222831;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.con_social-links a{
  padding: 11px;
  color: #364f6b;
  line-height: 1;
  margin-right: 8px;
  border-radius: 60%;
  width: 40px;
  height: 40px;
}

.social-links a:hover, .con_social-links a:hover {
  background: #a2d5f2;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links, #header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .nav-menu {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }
  #header.header-top h1 {
    font-size: 26px;
  }
}

.About-me , .div_contact, #resume{
  margin-top: 100px;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 4%;
}

.About-me,.div_contact, p,li,h4{
  color: #1b1c25;
}

.About-me , .div_contact, h1,h3 {
  color: #364f6b;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #18d26e;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.bitmoji1{
  width:170px;
}
.describe{
  padding: 20px;
  padding-left: 0px;
}
.me{
  margin-left:33%;
  margin-top: 2%;
  border-radius: 60%;
  height: 150px;
  width:150px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills,.interests{
  padding-top: 20px;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #fff;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition:0.9s;
  background-color: #ffc7c7;
}
.skills .progress-bar:hover{
  background-color: #71c9ce;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
#resume{
  padding: 30px;
  opacity: 0.9;
}
.resume a {
color: #ffaaa5;
text-decoration: none;

}
.resume a:hover {
 color: #00adb5;
}
.resume .resume-title ,h2{
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #364f6b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #ff2e63;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  color: #52616b;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #18d26e;
  border: 2px solid #18d26e;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.div_contact{
  padding: 20px;
  opacity: 0.9;
}
.div_contact h4
{
  color: #00adb5;
}
.div_contact h3,h2{
  color: #364f6b;
}
